# Ignore Visual Studio files
.vs/

# Ignore Python virtual environments
venv/
ENV/
new_env/

# Ignore node_modules
node_modules/

# Ignore macOS files
.DS_Store

# Ignore Windows files
Thumbs.db

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Django database and logs
*.log
db.sqlite3
db.sqlite3-journal

# Ignore build files
build/
dist/
